# Ignore node modules
node_modules/

# Ignore Qodo folder
qodo/

# Ignore the full project zip files
ireporter App fullstuck development by shadz.zip

# Ignore uploads folder
upload/
Profil/

# Ignore environment files


hope/
hope.zip/
.env
