# Ignore node modules
node_modules/

# Ignore Qodo folder
qodo/

# Ignore the full project zip files
ireporter App fullstuck development by shadz.zip
*.zip

# Ignore uploads folder
uploads/
upload/
Profil/

# Ignore environment files


hope/
hope.zip/
.env
agents/
.qodo

# Vite / build artifacts
frontend/build/
frontend/node_modules/
frontend/.vite/

# Backend node modules
backend/node_modules/

# OS files
.DS_Store
Thumbs.db